.second-block__wrapper{
    grid-column-gap: 50px
}

.sblock-element{
    width: 100%;
    padding:0;
}

.sbe-text{
    max-width: 79%;
}

.first-block-aboutus__wrapper{
    margin-top:80px;
}

.first-block-aboutus h1{
    font-size: 48px;
    font-weight: 700;
}

.fba-sections{
    display:flex;
    justify-content: space-between;
    margin-top:60px;
}

.fba-fsection{
    max-width: 65%;
}

.fbaf-grid{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 70px 60px; 
    grid-template-areas: 
      ". ."
      ". ."; 
}

.fbaf-element{
    color: #131313;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    position:relative;
}

.fbaf-element::before{
    content:'';
    position:absolute;
    top:-20px;
    background-color:#DBDEE8;
    width:80px;
    height:2px;
}

.opw__wrapper{
    padding-top:100px;
}

.op-h1 h1{
    font-size:55px;
    margin-bottom:10px;
}

.op__il{
    display:flex;
    margin-top:45px;
}

.opi__buttons{
    display:flex;
}

.opi-mg{
    width:500px;
    height:330px;
    background-size: cover;
    border-radius:25px;
}

.opi__img{
    margin-right:35px;
}

.opi__title{
    margin-top:15px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom:20px;
}

.opi__description{
    font-weight: 500;
    font-size: 18px;
    margin-bottom:40px;
    width:80%;
}

.opi__details{
    color: #FAFAFA;
    font-size: 16px;
    padding:20px 35px;
    background:black;
    margin-right:15px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 500;
}

.opi__zapyt{
    padding:20px 35px;
    background: var(--main-btn-gradient);
    border-radius: 12px;
    text-decoration: none;
    position:relative;
}

.opi__zapyt span{
    z-index: 2;
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 500;
    position:relative;
}

.opi__zapyt::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    background: var(--hover-gradient);
    /* box-shadow: 0 2px 10px rgba(213, 80, 208, 0.9); */
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.5s;
}

.opi__zapyt:hover:after {
    opacity: 1;
}

.jescze-btn{
    display:flex;
    margin-top:40px;
    justify-content: center;
}

.jescze-btn a{
    padding:20px 140px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 12px;
    border: 1px solid #C3C3C3;
}

.project-page__wrapper h1{
    max-width:70%;
    font-size:42px;
}

.project-date{
    color: #A4A4A4;
    font-size: 24px;
    font-weight: 500;
    margin:16px 0 36px 0;
}

.fbipp-texts{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 55px; 
    grid-template-areas: 
      ". ."; 
}

.fbipp-ftext, .fbipp-stext{
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
}


.gradient-text{
    background-image: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: contain;
}

.product-page-images-slider{
    margin-top:35px;
}

.product-image__wrapper{
    width:94vw;
    height:650px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 25px;
}

.product-page-images-slider .owl-carousel{
    width:94vw !important;
    margin: auto;
}

.product-page-images-slider .jeszcze-arrows{
    justify-content: center;
    margin-top:25px;
}

.fbipp-fblock__wrapper{
    display:flex;
    margin-top:75px;
}

.fbipp-fblock{
    width:100%;
}

.fbippfb-text{
    font-size: 34px;
    font-weight: 700;
}

.fbippsb-text{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    width:90%;
}

.fbippsb-przyczyny{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."; 
    margin-top:30px;
    width: 72%;
}

.fbippsb-przyczyna{
    margin: 0 auto;
}

.fbippsb-bigtext span{
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
}

.fbippsb-smalltext{
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    margin-top:5px;
}

.fbipp-sblock__wrapper{
    display:flex;
    margin-top:70px;
}

.sfbipp-fblock{
    width: 45%;
}

.doctor-project{
    margin: 0 auto;
    width: 60%;
}

.sfbippfb-img{
    border-radius: 25%;
    width:min-content;
}

.sfbippfb-img img{
    width:120px;
    height:120px;
    object-fit: cover;
}

.sfbippfb-texts{
    margin-top:12px;
}

.sfbippfb-imie{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.sfbippfb-dolrznost{
    color: #A4A4A4;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-top:8px;
}

.first-kawyczky span, .second-kawyczky span{
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -3.6px;
}

.second-kawyczky{
    display: flex;
    flex-direction: row-reverse;
}

.sfbippsb-text{
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
}

.sfbipp-sblock{
    width: 90%;
}

.product-page-disclaimer__wrapper{
    margin-top:80px;
}

.product-page-disclaimer{
    display:flex;
    justify-content: space-between;
    padding:25px 50px;
    border-radius: 25px;
    background: #F4F4F4;
}

.ppd-fblock{
    width:65%;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    line-height: 160%; /* 28.8px */
}

.ppd-sblock img{
    transform: rotate(30deg);
}

.widguk-el{
    display:flex;
}

.wef-img{
    border-radius: 25px;
    width: 394px;
    height: 379px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.we-fsection{
    margin-right:45px;
}

.wes-nazwa-pred{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    max-width: 80%;
}

.wes-who{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top:40px;
}

.wes-dolznosc{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #555;
    margin-top:5px;
    margin-bottom: 120px;
}

.wes-href span{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.wes-href{
    text-decoration: none;
    position:relative;
}

.we-ssection{
    padding:20px 0;
}

.widguki-ul{
    margin-top:60px;
}

.widguk-el{
    margin:40px 0;
}

.wes-href::after{
    content:'';
    position:absolute;
    left:120%;
    background-image: url(images/arroww.svg);
    width:130%;
    height:120%;
    background-repeat: no-repeat;
}

.contact-raspisanie{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.small-hr-text{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-top:35px;
    margin-bottom:16px;
}

.telefon-contact{
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    margin-right:16px;
}

.hr-contact-telefon__wrapper{
    display: flex;
    margin-top:10px;
}

.hr-contact-telefon__wrapper img{
    margin-right:10px;
}

.wes-status{
    padding:13px 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #555;
    background-color:rgba(105, 105, 105, .3);
    border-radius: 12px;
    width: fit-content;
    margin-bottom:16px;
}

.wess-active{
    color:white;
    background-color:rgba(244, 92, 6, 1);
}

.wes-info-event{
    color: #555;
    margin-top:20px;
    margin-bottom:40px;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px /* 26px */
}